<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h4> Users </h4>
      <div id="users">
        <%= turbo_stream_from "users" %>
        <%= render @users %>
      </div>
      <h4> Rooms </h4>
      <div id="rooms">
        <%= turbo_stream_from "rooms" %>
        <%= render @rooms %>
      </div>
      <%= render partial: "rooms/new_room_form" %>
    </div>

    <div class="col-md-10 bg-dark text-light">
      <h4 class="text-center"> <%= @current_user&.username %> </h4>

      <% if @single_room %>
        <h4 class="text-center"> <%= @user&.username || @single_room.name %> </h4>

        <%= turbo_stream_from @single_room %>
        <div id="messages">
          <%= render @messages %>
        </div>
        <%= render partial: 'layouts/new_message_form', locals: { message: @message } %>
      <% end %>
    </div>
    
  </div>
</div>